In [1]:
import pandas as pd
from pathlib import Path
import string
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import seaborn as sns
%matplotlib inline
import os

In [2]:
from spacy.lang.en import English

# Reading In

major thank you to Mitch Murphy for his notebook detailing this all on kaggle - https://www.kaggle.com/mjmurphy28

In [3]:
data_folder = Path("../Project_4/speeches_full")

In [4]:
file_to_open = data_folder / "Bush_1989.txt"

In [5]:
file_to_open

PosixPath('../Project_4/speeches_full/Bush_1989.txt')

In [6]:
f = open(file_to_open)

In [7]:
names = os.listdir('../Project_4/speeches_full/')

In [8]:
df = pd.DataFrame(columns=['year', 'president', 'party', 'text'])

In [9]:
path = '../Project_4/speeches_full/'

In [10]:
len(names)

229

In [11]:
path + names[0]

'../Project_4/speeches_full/Reagan_1982.txt'

In [12]:
for i in range(len(names)):
    components = names[i].split('_')
    name = components[0]
    year = components[1].split('.')[0]
    df.loc[i,'year'] = year
    df.loc[i,'president'] = name 
    
    file = data_folder / names[i]
    text = open(file, 'rb')
    
    lines = str(text.read())
    lines = lines.replace('\\n',' ')
    df.loc[i, 'text'] = lines.lower()

In [13]:
def year_convert(year):
    return int(year)

In [14]:
df.year = df.year.apply(year_convert)

ValueError: invalid literal for int() with base 10: 'Store'

### IF there is an issue with a certian year not working
I ran into the issue of an entry being "Store" so I use this to hunt it down and remove it

In [15]:
print(df[df['year']=='Store'].index.values)

[35]

In [16]:
df.drop(df.index[35],inplace=True)

### Continue!

In [33]:
df.year = df.year.apply(year_convert)

In [34]:
df.head(50)

    year  president party                                               text
0   1982     Reagan   NaN  b'mr. speaker, mr. president, distinguished me...
1   1902  Roosevelt   NaN  b'to the senate and house of representatives: ...
2   1914     Wilson   NaN  b"gentlemen of the congress:  the session upon...
3   1911       Taft   NaN  b'part i  this message is the first of several...
4   1814    Madison   NaN  b"fellow-citizens of the senate and house of r...
5   1848       Polk   NaN  b'fellow-citizens of the senate and of the hou...
6   1836    Jackson   NaN  b'fellow citizens of the senate and of the hou...
7   1969    Johnson   NaN  b'mr. speaker, mr. president, members of the c...
8   1930     Hoover   NaN  b"to the senate and house of representatives: ...
9   1854     Pierce   NaN  b'fellow-citizens of the senate and of the hou...
10  1855     Pierce   NaN  b'fellow-citizens of the senate and of the hou...
11  1931     Hoover   NaN  b'to the senate and house of representatives: ...
12  1968    Johnson   NaN  b'mr. speaker, mr. president, members of the c...
13  1815    Madison   NaN  b'fellow-citizens of the senate and house of r...
14  1910       Taft   NaN  b'to the senate and house of representatives: ...
15  1837      Buren   NaN  b'fellow-citizens of the senate and house of r...
16  1915     Wilson   NaN  b'gentlemen of the congress:  since i last had...
17  1903  Roosevelt   NaN  b'to the senate and house of representatives: ...
18  1983     Reagan   NaN  b'mr. speaker, mr. president, distinguished me...
19  1901  Roosevelt   NaN  b'to the senate and house of representatives: ...
20  1912       Taft   NaN  b'part i  to the senate and house of represent...
21  1917     Wilson   NaN  b'gentlemen of the congress:  eight months hav...
22  1835    Jackson   NaN  b"fellow citizens of the senate and of the hou...
23  1856     Pierce   NaN  b'fellow-citizens of the senate and of the hou...
24  1932     Hoover   NaN  b'to the senate and house of representatives: ...
25  1834    Jackson   NaN  b'fellow citizens of the senate and of the hou...
26  1816    Madison   NaN  b'fellow-citizens of the senate and house of r...
27  1916     Wilson   NaN  b"gentlemen of the congress:  in fulfilling at...
28  1984     Reagan   NaN  b'mr. speaker, mr. president, distinguished me...
29  1904  Roosevelt   NaN  b'to the senate and house of representatives: ...
30  1938  Roosevelt   NaN  b'mr. president, mr. speaker, members of the s...
31  1852   Fillmore   NaN  b'fellow-citizens of the senate and of the hou...
32  1812    Madison   NaN  b"fellow-citizens of the senate and house of r...
33  1830    Jackson   NaN  b'fellow citizens of the senate and of the hou...
34  1949     Truman   NaN  b'mr. president, mr. speaker, members of the c...
36  1853     Pierce   NaN  b'fellow-citizens of the senate and of the hou...
37  1948     Truman   NaN  b"mr. president, mr. speaker, and members of t...
38  1831    Jackson   NaN  b'fellow citizens of the senate and of the hou...
39  1813    Madison   NaN  b"fellow-citizens of the senate and house of r...
40  1913     Wilson   NaN  b'gentlemen of the congress:  in pursuance of ...
41  1939  Roosevelt   NaN  b'mr. vice president, mr. speaker, members of ...
42  1905  Roosevelt   NaN  b'to the senate and house of representatives: ...
43  1985     Reagan   NaN  b'mr. speaker, mr. president, distinguished me...
44  1889   Harrison   NaN  b'to the senate and house of representatives: ...
45  1987     Reagan   NaN  b'mr. speaker, mr. president, distinguished me...
46  1907  Roosevelt   NaN  b'to the senate and house of representatives: ...
47  1811    Madison   NaN  b"fellow-citizens of the senate and house of r...
48  1851   Fillmore   NaN  b'fellow-citizens of the senate and of the hou...
49  1833    Jackson   NaN  b'fellow citizens of the senate and of the hou...
50  1963    Kennedy   NaN  b'mr. vice president, mr. speaker, members of ...

In [35]:
df = df.sort_values('year')

In [36]:
df.reset_index(inplace=True)
df = df.drop(['index'], axis=1)

In [37]:
df.head(25)

    year   president party                                               text
0   1790  Washington   NaN                                                b''
1   1791  Washington   NaN  b'fellow-citizens of the senate and house of r...
2   1792  Washington   NaN  b'fellow-citizens of the senate and house of r...
3   1793  Washington   NaN  b'fellow-citizens of the senate and house of r...
4   1794  Washington   NaN  b'fellow-citizens of the senate and house of r...
5   1795  Washington   NaN  b'fellow-citizens of the senate and house of r...
6   1796  Washington   NaN  b"fellow-citizens of the senate and house of r...
7   1797       Adams   NaN  b'gentlemen of the senate and gentlemen of the...
8   1798       Adams   NaN  b'gentlemen of the senate and gentlemen of the...
9   1799       Adams   NaN  b'gentlemen of the senate and gentlemen of the...
10  1800       Adams   NaN  b'gentlemen of the senate and gentlemen of the...
11  1801   Jefferson   NaN  b'fellow citizens of the senate and house of r...
12  1802   Jefferson   NaN  b'to the senate and house of representatives: ...
13  1803   Jefferson   NaN  b'to the senate and house of representatives o...
14  1804   Jefferson   NaN  b'the senate and house of representatives of t...
15  1805   Jefferson   NaN  b'the senate and house of representatives of t...
16  1806   Jefferson   NaN  b'the senate and house of representatives of t...
17  1807   Jefferson   NaN  b"the senate and house of representatives of t...
18  1808   Jefferson   NaN  b"the senate and house of representatives of t...
19  1809     Madison   NaN  b'fellow-citizens of the senate and house of r...
20  1810     Madison   NaN  b'fellow-citizens of the senate and house of r...
21  1811     Madison   NaN  b"fellow-citizens of the senate and house of r...
22  1812     Madison   NaN  b"fellow-citizens of the senate and house of r...
23  1813     Madison   NaN  b"fellow-citizens of the senate and house of r...
24  1814     Madison   NaN  b"fellow-citizens of the senate and house of r...

## Noting different names

In [38]:
df.head()

   year   president party                                               text
0  1790  Washington   NaN                                                b''
1  1791  Washington   NaN  b'fellow-citizens of the senate and house of r...
2  1792  Washington   NaN  b'fellow-citizens of the senate and house of r...
3  1793  Washington   NaN  b'fellow-citizens of the senate and house of r...
4  1794  Washington   NaN  b'fellow-citizens of the senate and house of r...

In [39]:
# need to distinuish between Theodore Roosevelt and Franklin D. Roosevelt
indices = df.query("president =='Roosevelt' & year <= 1909").index
df.loc[indices,'president'] = 'Theodore Roosevelt'

indices = df.query("president == 'Roosevelt'").index
df.loc[indices,'president'] = 'Franklin D. Roosevelt'

indices = df.query("president =='Bush' & year <= 1992").index
df.loc[indices,'president'] = 'George H. W. Bush'

indices = df.query("president == 'Bush'").index
df.loc[indices,'president'] = 'George W. Bush'

indices = df.query("president =='Johnson' & year <= 1869").index
df.loc[indices,'president'] = 'Andrew Johnson'

indices = df.query("president == 'Johnson'").index
df.loc[indices,'president'] = 'Lyndon B. Johnson'

indices = df.query("president =='Adams' & year <= 1801").index
df.loc[indices,'president'] = 'John Adams'

indices = df.query("president == 'Adams'").index
df.loc[indices,'president'] = 'John Quincy Adams'


indices = df.query("president =='Harrison' & year <= 1841").index
df.loc[indices,'president'] = 'William Henry Harrison'

indices = df.query("president == 'Harrison'").index
df.loc[indices,'president'] = 'Benjamin Harrison'

## Fixing the text part

In [40]:
def shaver(text):
    return text[1:]

In [41]:
df.text = df.text.apply(shaver)

In [42]:
df.head()

   year   president party                                               text
0  1790  Washington   NaN                                                 ''
1  1791  Washington   NaN  'fellow-citizens of the senate and house of re...
2  1792  Washington   NaN  'fellow-citizens of the senate and house of re...
3  1793  Washington   NaN  'fellow-citizens of the senate and house of re...
4  1794  Washington   NaN  'fellow-citizens of the senate and house of re...

In [43]:
# need to drop George Washington's 1790 address as the file is empty
df = df.iloc[1:,:]
df.head()

   year   president party                                               text
1  1791  Washington   NaN  'fellow-citizens of the senate and house of re...
2  1792  Washington   NaN  'fellow-citizens of the senate and house of re...
3  1793  Washington   NaN  'fellow-citizens of the senate and house of re...
4  1794  Washington   NaN  'fellow-citizens of the senate and house of re...
5  1795  Washington   NaN  'fellow-citizens of the senate and house of re...

## Adding Parties

In [44]:
def pres_to_party(name):
    republican = ['Lincoln', 'Grant', 'Hayes', 'Garfield', 'Arthur', 
                  'Benjamin Harrison', 'McKinley', 'Theodore Roosevelt', 
                  'Taft', 'Harding', 'Coolidge', 'Hoover', 'Eisenhower', 
                  'Nixon', 'Ford', 'Reagan', 'George H. W. Bush', 
                  'George W. Bush', 'Trump']
    if name in republican:
        return 'Republican'
    
    democratic = ['Jackson', 'Buren', 'Polk', 'Pierce', 
                  'Buchanan', 'Cleveland', 'Wilson', 'Franklin D. Roosevelt', 
                  'Truman', 'Kennedy', 'Lyndon B. Johnson', 'Carter', 'Clinton', 'Obama']
    if name in democratic:
        return 'Democratic'
    
    whig = ['William Henry Harrison', 'Taylor', 'Fillmore']
    if name in whig:
        return 'Whig'
    
    national_union = ['Andrew Johnson']
    if name in national_union:
        return 'National Union'
    
    
    unaffiliated = ['Washington', 'Tyler']
    if name in unaffiliated:
        return 'Unaffiliated'
    
    federalist = ['John Adams']
    if name in federalist:
        return 'Federalist'
    
    democratic_republican = ['Jefferson', 'Madison', 'Monroe', 'John Quincy Adams']
    if name in democratic_republican:
        return 'Democratic-Republican'
    
df.party = df.president.apply(pres_to_party)

## Further Cleaning of Speeches

In [45]:
import re

In [46]:
df['speech_clean'] = df['text']

#Remove numbers
alphanumeric = lambda x: re.sub('\w*\d\w*', ' ', x)
df['speech_clean'] = df['speech_clean'].apply(alphanumeric)

#Remove punctuation
punctuation = lambda x: re.sub('[%s]' % re.escape(string.punctuation), ' ', x)
df['speech_clean'] = df['speech_clean'].apply(punctuation)

#Remove non-breaking space
xa0 = lambda x: re.sub('\xa0', ' ', x)
xad = lambda x: re.sub('\xad', ' ', x)
df['speech_clean'] = df['speech_clean'].apply(xa0).apply(xad)

#Remove dash
dash = lambda x: re.sub('â€“', ' ', x)
df['speech_clean'] = df['speech_clean'].apply(dash)

#Make lower case
lower = lambda x: x.lower()
df['speech_clean'] = df['speech_clean'].apply(lower)

#Replace hyphens
hyphen_1 = lambda x: re.sub('â€œ', ' ', x)
hyphen_2 = lambda x: re.sub('â€ž', ' ', x)
df['speech_clean'] = df['speech_clean'].apply(hyphen_1).apply(hyphen_2)

#Remove doubles space
spaces = lambda x: ' '.join(x.split())
df['speech_clean'] = df['speech_clean'].apply(spaces)

In [47]:
df.head()

,year,president,party,text,speech_clean
1,1791,Washington,Unaffiliated,'fellow-citizens of the senate and house of re...,fellow citizens of the senate and house of rep...
2,1792,Washington,Unaffiliated,'fellow-citizens of the senate and house of re...,fellow citizens of the senate and house of rep...
3,1793,Washington,Unaffiliated,'fellow-citizens of the senate and house of re...,fellow citizens of the senate and house of rep...
4,1794,Washington,Unaffiliated,'fellow-citizens of the senate and house of re...,fellow citizens of the senate and house of rep...
5,1795,Washington,Unaffiliated,'fellow-citizens of the senate and house of re...,fellow citizens of the senate and house of rep...

In [48]:
def word_count(string):
    '''counts number of words in speech'''
    count = len(string.split())
    return count

In [49]:
df['word_count'] = df['speech_clean'].apply(word_count)

# Tokens, Leminization vs Stem

In [17]:
import nltk
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF
from nltk.stem import WordNetLemmatizer

## Stop Word Depot

In [51]:
stop = stopwords.words('english')

new_stop = (["'ll", "'re", "'ve", 'could', 'doe', 'might', 
             'must', "n't", 'need', 'sha', 'would', 'abov', 
             'ask', 'drug', 'per', 'cent', 'my', 'member', 
             'ani', 'becaus', 'befor', 'dure', 'members',
             'onc', 'onli', 'republican', 'thought', 'whole',
             'ourselv', 'themselv', 'veri', 'whi', 'people', 'men',
             'yourselv', 'tonight', 'let', 'program', 'purpose', 
             'shall', 'get', 'upon', 'like', 'ought', 'may', 'last', 
             'today', 'help', 'know', 'want', 'matter', 'report', 'president',
            'present', 'say', 'purpos', 'purpo', 'year', 'america', 'new',
             'american', 'federal', 'feder', 'speaker', 'vice', 'fellow',
            'peopl', 'presid', 'great', 'gentleman', 'commissioner', 'object','subject',
             'claim','mississippi','sum', 'person', 'commission', 'commiss',
            'depart', 'offic'])




stop = stop + new_stop

In [18]:
lemmatizer = WordNetLemmatizer() 
stemmer = SnowballStemmer('english')

In [26]:
lemmatizer.lemmatize('terrorism')

'terrorism'

In [27]:
lemmatizer.lemmatize('terror')

'terror'

In [28]:
stemmer.stem('terror')

'terror'

In [25]:
stemmer.stem('terrorism')

'terror'

Thank you to Metis alum Erik Hafner for this function
https://github.com/ErikHafner

In [55]:

def tokenize_and_lem(text):
    '''applies tokenization and stemming'''
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    for token in tokens:
        token = lemmatizer.lemmatize(token)
        if len(token) > 2:
            filtered_tokens.append(token)
    return filtered_tokens

In [56]:
def display_topics(model, feature_names, no_top_words, topic_names=None):
    '''shows topics identified in topic modeling'''
    for ix, topic in enumerate(model.components_):
        if not topic_names or not topic_names[ix]:
            print("\nTopic ", ix)
        else:
            print("\nTopic: '",topic_names[ix],"'")
        print(", ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))

# Vectorize me - lemmatizer

In [57]:
tfidf = TfidfVectorizer(stop_words=stop,tokenizer=tokenize_and_lem,min_df=.15,max_df=.9)
sparse_tfidf = tfidf.fit_transform(df['speech_clean'])
tfidf_feature_names = tfidf.get_feature_names()

In [58]:
len(tfidf_feature_names)

2604

In [ ]:
nmf_10 = NMF(30,random_state=1)
nmf_10_topic = nmf_10.fit_transform(sparse_tfidf)

In [ ]:
display_topics(nmf_10, tfidf_feature_names, 10, topic_names=None)

# Vectorize Me! - Stemmed

In [59]:
def tokenize_and_stem(text):
    '''applies tokenization and stemming'''
    tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
    filtered_tokens = []
    for token in tokens:
        token = stemmer.stem(token)
        if len(token) > 2:
            filtered_tokens.append(token)
    return filtered_tokens

In [60]:
tfidf = TfidfVectorizer(stop_words=stop,tokenizer=tokenize_and_stem,min_df=.20,max_df=.90)
sparse_tfidf = tfidf.fit_transform(df['speech_clean'])
tfidf_feature_names = tfidf.get_feature_names()

In [61]:
len(tfidf_feature_names)

1723

In [62]:
nmf_10 = NMF(25,random_state=1)
nmf_10_topic = nmf_10.fit_transform(sparse_tfidf)
display_topics(nmf_10, tfidf_feature_names, 10, topic_names=None)

Topic  0
indian, general, secretari, recommend, fiscal, pension, land, appropri, amount, june

Topic  1
children, budget, school, famili, challeng, parent, child, centuri, communiti, dream

Topic  2
agricultur, econom, industri, cooper, veteran, bank, problem, relief, construct, method

Topic  3
develop, econom, farm, world, recommend, billion, price, effort, achiev, million

Topic  4
fight, enemi, world, victori, product, air, alli, battl, german, freedom

Topic  5
corpor, man, forest, busi, court, condit, island, labor, navi, case

Topic  6
bank, duti, deposit, money, currenc, treasuri, general, institut, paper, speci

Topic  7
enemi, command, british, militia, lake, hostil, victori, general, success, britain

Topic  8
mexico, texa, mexican, territori, duti, treati, treasuri, california, minist, foreign

Topic  9
treati, relat, convent, intern, republ, consular, diplomat, foreign, arbitr, repres

Topic  10
job, busi, cut, colleg, worker, famili, economi, world, invest, back

Topic  11
coloni, duti, improv, amount, intercours, commerc, parti, consider, treasuri, vessel

Topic  12
tax, billion, spend, percent, budget, job, inflat, energi, cut, propos

Topic  13
soviet, world, free, defens, freedom, militari, econom, strength, threat, effort

Topic  14
spain, treati, articl, minist, majesti, territori, spanish, likewis, respect, appoint

Topic  15
constitut, territori, union, slave, general, republ, duti, thus, elect, question

Topic  16
minist, british, communic, council, instruct, french, commerc, franc, author, relat

Topic  17
necessari, railway, action, seem, duti, ship, develop, immedi, industri, counsel

Topic  18
vessel, million, sea, necessari, debt, within, whether, princip, harbor, call

Topic  19
terror, weapon, world, freedom, tax, children, health, women, fight, worker

Topic  20
indian, provis, general, consider, measur, execut, happi, attent, militia, tribe

Topic  21
democraci, problem, world, recoveri, faith, democrat, modern, unemploy, incom, form

Topic  22
tariff, manufactur, duti, price, articl, product, condit, bond, revenu, taxat

Topic  23
gold, silver, note, circul, currenc, treasuri, bond, amount, issu, valu

Topic  24
world, seek, goal, live, way, life, problem, come, better, group

# Topic Naming

In [ ]:
topic_names = (['Indian Issues',
                'Education',
                'Agriculture',
                'Development',
                'War',
                'Corporations',
                'Banking',
                'Revolutionary War',
                'Mexican War',
                'Diplomacy',
                'Employment',
                'Colonies',
                'Taxation',
                'Communism',
                'Spanish War',
                'Civil War',
                'British Conflict',
                'Infrastructure',
                'Naval Concerns',
                'Terrorism',
                'Indian Conflict',
                'Democracy',
                'Tariffs',
                'Currency',
                'Globalism'
                ''
                ])

In [ ]:
#create dataframe with topic values
H_35 = pd.DataFrame(nmf_10_topic.round(5), columns = topic_names)

#merge dataframes
df = pd.concat([df.reset_index(drop=True), H_35.reset_index(drop=True)], axis=1)

In [ ]:
df.head()

In [ ]:
df1 = df.drop(['text','speech_clean'] ,axis=1)

In [ ]:
df1.head()

# Lexical Richness

In [ ]:
def lex_rich(text):
    return len(set(text)) / len(text)

In [ ]:
df1['Lexical Richness'] = df['speech_clean']

In [ ]:
df1['Lexical Richness'] = df1['Lexical Richness'].apply(lex_rich)

In [ ]:
df1.head()

# Save This One

In [ ]:
df1.to_csv('By_Year.csv')

## Speech Aggregation

In [ ]:
# get sum of topics per speech
df['topic_sum']= 0
for topic in topic_names:
    df['topic_sum'] += df[topic]
    
#get percentage share of topic per speech
aggregation_columns = topic_names + ['topic_sum']

for topic in aggregation_columns:
    df[topic] = df[topic]/df['topic_sum']

In [ ]:
#sum word count and topic columns for each president
sum_columns = ['word_count'] + aggregation_columns

df_speaker_parties = df.groupby(['president','party'])[sum_columns].apply(lambda x: x.sum()).reset_index()

#get percentage share of topic per president
for topic in topic_names:
    df_speaker_parties[topic] = df_speaker_parties[topic]/df_speaker_parties['topic_sum']
    
df_speaker_parties.reset_index(inplace=True, drop=True)

In [ ]:
df_speaker_parties.head(50)

# Clustering

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
#run cluster analysis
km_15 = KMeans(n_clusters=5,random_state=44)

X_speaker = df_speaker_parties[topic_names].values
km_15.fit(X_speaker)

In [ ]:
def display_cluster(X,km=[],num_clusters=0):
    color = 'brgcmyk'
    alpha = 0.5
    s = 20
    if num_clusters == 0:
        plt.scatter(X[:,0],X[:,1],c = color[0],alpha = alpha,s = s)
    else:
        for i in range(num_clusters):
            plt.scatter(X[km.labels_==i,0],X[km.labels_==i,1],c = color[i],alpha = alpha,s=s)
            plt.scatter(km.cluster_centers_[i][0],km.cluster_centers_[i][1],c = color[i], marker = 'x', s = 100)

In [ ]:
display_cluster(X_speaker,km_15)

In [ ]:
km_15.labels_

In [ ]:
res=km_15.__dict__
print(res['cluster_centers_'])

# Saving

In [ ]:
# df_speaker_parties.to_csv('NLP_Full.csv')